In [58]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
from sklearn.model_selection import train_test_split
import pickle

In [59]:
data=pd.read_csv('Churn_Modelling.csv')

In [60]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [61]:
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [62]:
label_encoded=LabelEncoder()
data['Gender']=label_encoded.fit_transform(data['Gender'])

In [63]:
#One hot encoding
one_hot_encoded=OneHotEncoder(handle_unknown='ignore')
geo_encoded=one_hot_encoded.fit_transform(data[['Geography']]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=one_hot_encoded.get_feature_names_out(['Geography']))

In [64]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [65]:
#Combining
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [66]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [67]:
X=data.drop(columns=['EstimatedSalary'],axis=1)
y=data['EstimatedSalary']

In [68]:
X

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,0,1.0,0.0,0.0

In [69]:
y

0       101348.88
1       112542.58
2       113931.57
3        93826.63
4        79084.10
          ...
9995     96270.64
9996    101699.77
9997     42085.58
9998     92888.52
9999     38190.78
Name: EstimatedSalary, Length: 10000, dtype: float64

In [70]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [71]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [72]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoded, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(one_hot_encoded, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [73]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout

In [74]:
#Build_model
model=Sequential()
model.add(Dense(64,activation='relu',input_shape=(X_train.shape[1],)))
model.add(Dropout(0.3)) 
model.add(Dense(32,activation='relu'))
model.add(Dropout(0.3)) 
model.add(Dense(1))

model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

c:\ML MODEL\BANK_EMPLOYEE_EXIT_PREDICTION\venv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [75]:
model.summary()

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_6 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dropout_4 (Dropout)             │ (None, 64)             │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dropout_5 (Dropout)             │ (None, 32)             │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [76]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [77]:
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [78]:
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 101345.6172 - mae: 101345.6172 - val_loss: 98508.0781 - val_mae: 98508.0781
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 99080.9688 - mae: 99080.9688 - val_loss: 96968.5391 - val_mae: 96968.5391
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 97954.0000 - mae: 97954.0000 - val_loss: 93053.6562 - val_mae: 93053.6562
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 93851.8672 - mae: 93851.8672 - val_loss: 86511.7734 - val_mae: 86511.7734
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 85522.6953 - mae: 85522.6953 - val_loss: 78027.7656 - val_mae: 78027.7656
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 78510.0547 - mae: 78510.0547 - val_loss: 69192.8438 - val_mae: 69192.8438
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 68716.6875 - mae: 68716.6875 - val_loss: 61613.6367 - val_mae: 61613.6367
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 60949.2422 - mae: 60949.2422 - val_loss: 56205.5156 - val_mae: 56205.5156
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 56248.9688 - mae: 56248.9688 - val_loss: 53005.2422 - val_mae: 53005.2422
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 53873.8906 - mae: 53873.8906 - val_loss: 51466.3789 - val_mae: 51466.3789
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 52068.3906 - mae: 52068.3906 - val_loss: 50871.9141 - val_mae: 50871.9141
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 52536.3008 - mae: 52536.3008 - val_loss: 50642.6094 - val_mae: 50642.6094
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51872.4883 - mae: 51872.4883 - val_loss: 50542.3477 - val_mae: 50542.3477
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 52226.4219 - mae: 52226.4219 - val_loss: 50462.5469 - val_mae: 50462.5469
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 52319.9688 - mae: 52319.9688 - val_loss: 50416.8438 - val_mae: 50416.8438
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51484.8477 - mae: 51484.8477 - val_loss: 50380.1719 - val_mae: 50380.1719
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51530.6797 - mae: 51530.6797 - val_loss: 50335.3867 - val_mae: 50335.3867
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51133.5273 - mae: 51133.5273 - val_loss: 50315.8047 - val_mae: 50315.8047
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51323.1758 - mae: 51323.1758 - val_loss: 50311.6836 - val_mae: 50311.6836
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50190.8047 - mae: 50190.8047 - val_loss: 50292.3633 - val_mae: 50292.3633
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51449.0391 - mae: 51449.0391 - val_loss: 50268.1328 - val_mae: 50268.1328
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51270.7188 - mae: 51270.7188 - val_loss: 50241.6680 - val_mae: 50241.6680
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51708.2422 - mae: 51708.2422 - val_loss: 50242.7266 - val_mae: 50242.7266
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51485.0820 - mae: 51485.0820 - val_loss: 50240.5625 - val_mae: 50240.5625
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51354.2266 - mae: 51354.2266 - val_loss: 50217.3008 - val_mae: 50217.3008
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51713.0859 - mae: 51713.0859 - val_loss: 50212.6992 - val_mae: 50212.6992
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51471.0000 - mae: 51471.0000 - val_loss: 50199.5078 - val_mae: 50199.5078
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51491.6992 - mae: 51491.6992 - val_loss: 50201.1445 - val_mae: 50201.1445
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51952.5469 - mae: 51952.5469 - val_loss: 50181.3320 - val_mae: 50181.3320
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51413.0586 - mae: 51413.0586 - val_loss: 50177.9766 - val_mae: 50177.9766
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51395.7773 - mae: 51395.7773 - val_loss: 50166.5469 - val_mae: 50166.5469
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51556.0234 - mae: 51556.0234 - val_loss: 50181.5508 - val_mae: 50181.5508
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 52079.1055 - mae: 52079.1055 - val_loss: 50181.7969 - val_mae: 50181.7969
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51475.8750 - mae: 51475.8750 - val_loss: 50183.2969 - val_mae: 50183.2969
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51567.3516 - mae: 51567.3516 - val_loss: 50170.5039 - val_mae: 50170.5039
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51701.9258 - mae: 51701.9258 - val_loss: 50161.0938 - val_mae: 50161.0938
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51468.5508 - mae: 51468.5508 - val_loss: 50167.1953 - val_mae: 50167.1953
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51752.1797 - mae: 51752.1797 - val_loss: 50159.3750 - val_mae: 50159.3750
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51441.9805 - mae: 51441.9805 - val_loss: 50157.3086 - val_mae: 50157.3086
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51753.6328 - mae: 51753.6328 - val_loss: 50147.5508 - val_mae: 50147.5508
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50706.6289 - mae: 50706.6289 - val_loss: 50142.8711 - val_mae: 50142.8711
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50713.6328 - mae: 50713.6328 - val_loss: 50135.6289 - val_mae: 50135.6289
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51360.8594 - mae: 51360.8594 - val_loss: 50147.9609 - val_mae: 50147.9609
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50761.6875 - mae: 50761.6875 - val_loss: 50137.7617 - val_mae: 50137.7617
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51140.4688 - mae: 51140.4688 - val_loss: 50143.3516 - val_mae: 50143.3516
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51240.6914 - mae: 51240.6914 - val_loss: 50142.4883 - val_mae: 50142.4883
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51460.9766 - mae: 51460.9766 - val_loss: 50143.4492 - val_mae: 50143.4492
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50887.0430 - mae: 50887.0430 - val_loss: 50154.4648 - val_mae: 50154.4648
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51047.2227 - mae: 51047.2227 - val_loss: 50149.5234 - val_mae: 50149.5234
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51648.9609 - mae: 51648.9609 - val_loss: 50153.4336 - val_mae: 50153.4336
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51011.5703 - mae: 51011.5703 - val_loss: 50154.8008 - val_mae: 50154.8008
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50753.4062 - mae: 50753.4062 - val_loss: 50158.3672 - val_mae: 50158.3672

In [79]:
##Evaluate on test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE: {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 721us/step - loss: 51016.8789 - mae: 51016.8789
Test MAE: 50135.62890625

In [80]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.